*{
	
}
button#btnEdit {
    margin-left: 80%;
}

select.form-control {	
    width: 200px;
}

textarea#exampleFormControlTextarea1 {
    height: 350px;
}
.card {
    width: auto;
    height: 600px;
    margin: 10px 50px;
    background-color: #f8f9fa;
}
